<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagramm</title>
    <link rel="shortcut icon" href="../static/img/instagramm/Instagram-Icon2.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <!-- HEADER -->
    <div class="container">
        <header class="header">

            <div class="logo">
                <a href="#"><img src="../static/img/instagramm/instagramm.png" alt=""></a>
            </div>

            <div class="search">

                <img src="../static/icon/search.svg" alt="" width="20px">

                <input type="text" placeholder="search">

            </div>

            <ul class="icon_list">
                <li><a href="../templates/home.html"><img src="../static/icon/house_solid.svg" alt="" height="25px"></a>
                </li>
                <li><a href="../templates/post.html"><img src="../static/icon/plus_solid.svg" alt="" height="25px"></a>
                </li>
                <li><a href="../templates/explore.html"><img src="../static/icon/compass_bold.svg" alt=""
                            height="25px"></a></li>
                <li><a href="../templates/follow.html"><img src="../static/icon/heart_solid.svg" alt=""
                            height="25px"></a></li>
                <li><a href="../templates/user.html"><img src="../static/icon/circle_user_solid.svg" alt=""
                            height="25px"></a></li>
            </ul>

        </header>
    </div>
    <!-- HEADER END -->



    <script src="../static/js/app.js"></script>
</body>

</html>