{% from 'macro.html' import links %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagramm</title>
    <link rel="shortcut icon" href="../static/img/instagramm/Instagram-Icon2.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

<!-- HEADER -->
<div class="container">
    {{ links(user) }}
</div>
<!-- HEADER END -->

{% block section %}

{% endblock %}
<script src="../static/js/app.js"></script>
</body>

</html>